/**********
MEDIA
**********/
@media (max-width: 1200px) {
    .page-one {
        width: 100%;
    }

    .page-two {
        width: 100%;
    }

    .page-three {
        width: 100%;
    }

    .page-four {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none;
        width: 100%;
        ul {
            width: 100%;
            flex-direction: column;
            border-top: 1px solid $whiteColor1;
        }
        li {
            text-align: center;
            border-bottom: 1px solid $whiteColor1;
        }
        a {
            padding: .5rem 1rem;
        }
    }

    .navbar-links.active {
        display: flex;
    }

    .toggle-button {
        display: flex;
    }

    .page-one {
        padding: 100px 0 100px 0;
        height: auto;
        font-size: 1rem;
        p {
            padding: $padding05;
        }
    }

    .page-two {
        font-size: 1rem;
        ul {
            padding: $padding05;
        }
    }

    .page-three {
        font-size: 1rem;
        //lägg till?
    }

    .page-four {
        font-size: 1rem;
        ul {
            padding: $padding05;
        }
    }
}