/**********
NAVBAR
**********/
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    background: $blackColor2;
    .my-name {
        margin: 1rem;
        font-family: sans-serif;
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: $whiteColor1;
    }
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        list-style: none;
    }
    li:hover {
        background: $blackColor1;
    }
    a {
        text-decoration: none;
        color: $whiteColor1;
        padding: 1.2rem;
        display: block;
    }
}

/**********
TOGGLE BUTTON
**********/
.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    .bar {
        height: 3px;
        width: 100%;
        background: $whiteColor1;
        border-radius: 10px;
    }
}